body {
  background-color: #f5f5dc;
}

h1 {
  font-size: 60pt;
  color: #a52a2a;
  text-align: center;
}
h2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 25pt;
  color: blanchedalmond;
}
.product {
  background-color: #87863b;
  margin: 20px;
  padding: 5px;
  border: 3px dotted brown;
  width: 50vw;
  margin: 20px auto;
}
.outline-text {
  color: blanchedalmond;
  text-shadow: -2px -2px 0 brown, 2px -2px 0 brown, -2px 2px 0 brown,
    2px 2px 0 brown;
}
.underlined-text {
  text-decoration: underline;
}
.cart-button {
  background-color: #b7410e;
  box-shadow: 3px 3px 0 black;
}

#web-desc {
  font-size: 20pt;
  width: 70vw;
  color: brown;
  font-weight: 600;
  text-align: center;
  margin: 0 auto;
}
.product-desc {
  font-size: 15pt;
}
.original-price {
  font-style: italic;
  font-size: 10pt;
  font-weight: normal;
  color: black;
}

.sale-price {
  font-weight: 700;
  font-size: 20pt;
  color: #8b2e2e;
}
